<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="r0192">

  <!-- ROS 2 Control -->
  <gazebo>
    <!-- ROS 2 Iron or above - ROS Jazzy -->
    <xacro:unless value="$(arg is_ignition)">
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find r0192_controller)/config/r0192_controllers.yaml</parameters>
      </plugin>
    </xacro:unless>
</gazebo>

</robot>