<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="r0192">

    <!-- Start GZ or Ignition depending on ROS 2 Version -->
    <xacro:arg name="is_ignition" default="true" />

    <!-- Load Simulated or Real Hardware Interfaces -->
    <xacro:arg name="is_sim" default="true" />

    <!-- Include Gazebo Parameters -->
    <xacro:include filename="$(find r0192_description)/urdf/r0192_gazebo.xacro" />

    <!-- Include ros2_control Plugins -->
    <xacro:include filename="$(find r0192_description)/urdf/r0192_ros2_control.xacro" />

    <!-- Useful XACRO Variables (Properties) -->
    <xacro:property name="PI" value="3.14159265359" />
    <xacro:property name="effort" value="30.0" />        <!-- später noch mit echten Werten anpassen! -->
    <xacro:property name="velocity" value="10.0" />      <!-- später noch mit echten Werten anpassen! -->

    <!-- Useful Macros -->
    <xacro:macro name="default_inertial" params="mass">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <mass value="${mass}" />
            <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                iyy="1.0" iyz="0.0"
                izz="1.0" />
        </inertial>
    </xacro:macro>


    <!-- Links -->
    <link name="world" />

    <link name="base_link">
        <xacro:default_inertial mass="1.0" />
        <visual>
            <origin rpy="${PI / 2} 0 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://r0192_description/meshes/visual/axis_1.stl"
                    scale="0.01 0.01 0.01" />
            </geometry>
        </visual>
        <collision>
            <origin rpy="${PI / 2} 0 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://r0192_description/meshes/collision/axis_1_collision.stl"
                    scale="0.01 0.01 0.01" />
            </geometry>
        </collision>
    </link>


    <link name="link_1">
        <xacro:default_inertial mass="1.0" />
        <visual>
            <origin rpy="0 ${PI / 2} ${PI / 2}" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://r0192_description/meshes/visual/axis_2.stl"
                    scale="0.01 0.01 0.01" />
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 ${PI / 2} ${PI / 2}" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://r0192_description/meshes/collision/axis_2_collision.stl"
                    scale="0.01 0.01 0.01" />
            </geometry>
        </collision>
    </link>

    <link name="link_2">
        <xacro:default_inertial mass="1.0" />
        <visual>
            <origin rpy="0 ${PI}  ${PI}" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://r0192_description/meshes/visual/axis_3.stl"
                    scale="0.01 0.01 0.01" />
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 ${PI}  ${PI}" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://r0192_description/meshes/collision/axis_3_collision.stl"
                    scale="0.01 0.01 0.01" />
            </geometry>
        </collision>
    </link>

    <link name="link_3">
        <xacro:default_inertial mass="1.0" />
        <visual>
            <origin rpy="-${PI / 2} ${PI} 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://r0192_description/meshes/visual/axis_4.stl"
                    scale="0.01 0.01 0.01" />
            </geometry>
        </visual>
        <collision>
            <origin rpy="-${PI / 2} ${PI} 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://r0192_description/meshes/collision/axis_4_collision.stl"
                    scale="0.01 0.01 0.01" />
            </geometry>
        </collision>
    </link>

    <link name="link_4">
        <xacro:default_inertial mass="1.0" />
        <visual>
            <origin rpy="${PI / 2} 0 ${PI / 2}" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://r0192_description/meshes/visual/axis_5.stl"
                    scale="0.01 0.01 0.01" />
            </geometry>
        </visual>
        <collision>
            <origin rpy="${PI / 2} 0 ${PI / 2}" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://r0192_description/meshes/collision/axis_5_collision.stl"
                    scale="0.01 0.01 0.01" />
            </geometry>
        </collision>
    </link>

    <link name="link_5">
        <xacro:default_inertial mass="1.0" />
        <visual>
            <origin rpy="-${PI / 2} ${PI} 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://r0192_description/meshes/visual/axis_6.stl"
                    scale="0.01 0.01 0.01" />
            </geometry>
        </visual>
        <collision>
            <origin rpy="-${PI / 2} ${PI} 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://r0192_description/meshes/collision/axis_6_collision.stl"
                    scale="0.01 0.01 0.01" />
            </geometry>
        </collision>
    </link>

    <link name="link_6">
        <xacro:default_inertial mass="1.0" />
        <visual>
            <origin rpy="-${PI / 2} ${PI} 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://r0192_description/meshes/visual/flansch.stl"
                    scale="0.01 0.01 0.01" />
            </geometry>
        </visual>
        <collision>
            <origin rpy="-${PI / 2} ${PI} 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://r0192_description/meshes/collision/flansch_collision.stl"
                    scale="0.01 0.01 0.01" />
            </geometry>
        </collision>
    </link>

     <!-- Links - Gripper-->
    <link name="gripper_base">
        <xacro:default_inertial mass="1.0"/>
        <visual>
            <origin rpy="0 ${PI} ${PI / 2}" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://r0192_description/meshes/gripper/gripper_base.stl" scale="0.01 0.01 0.01"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 ${PI} ${PI / 2}" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://r0192_description/meshes/gripper/gripper_base.stl" scale="0.01 0.01 0.01"/>
            </geometry>
        </collision>
    </link>

    <link name="gripper_right">
        <xacro:default_inertial mass="0.01"/>
        <visual>
            <origin rpy="0 ${PI} ${PI / 2}" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://r0192_description/meshes/gripper/gripper_right.stl" scale="0.01 0.01 0.01"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 ${PI} ${PI / 2}" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://r0192_description/meshes/gripper/gripper_right.stl" scale="0.01 0.01 0.01"/>
            </geometry>
        </collision>
    </link>

    <link name="gripper_left">
        <xacro:default_inertial mass="0.01"/>
        <visual>
            <origin rpy="0 ${PI} ${PI / 2}" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://r0192_description/meshes/gripper/gripper_left.stl" scale="0.01 0.01 0.01"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 ${PI} ${PI / 2}" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://r0192_description/meshes/gripper/gripper_left.stl" scale="0.01 0.01 0.01"/>
            </geometry>
        </collision>
    </link>


    <!-- Joints -->
    <joint name="virtual_joint" type="fixed">
        <parent link="world" />
        <child link="base_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <joint name="joint_1" type="revolute">
        <parent link="base_link" />
        <child link="link_1" />
        <origin xyz="0 0 1.751" />
        <axis xyz="0 0 1" />
        <limit lower="-${PI}" upper="${PI}"
            effort="${effort}" velocity="${velocity}" />
    </joint>

    <joint name="joint_2" type="revolute">
        <parent link="link_1" />
        <child link="link_2" />
        <origin xyz="0 1.4 0" />
        <axis xyz="0 1 0" />
        <limit lower="-${PI / 2}" upper="${PI / 2}"
            effort="${effort}" velocity="${velocity}" />
    </joint>

    <joint name="joint_3" type="revolute">
        <parent link="link_2" />
        <child link="link_3" />
        <origin xyz="0 -1.252 1.85" />
        <axis xyz="0 1 0" />
        <limit lower="-${PI / 4}" upper="${5 * PI / 4}"
            effort="${effort}" velocity="${velocity}" />
    </joint>

    <joint name="joint_4" type="revolute">
        <parent link="link_3" />
        <child link="link_4" />
        <origin xyz="-1.25 0 0" />
        <axis xyz="1 0 0" />
        <limit lower="-${PI}" upper="${PI}"
            effort="${effort}" velocity="${velocity}" />
    </joint>

    <joint name="joint_5" type="revolute">
        <parent link="link_4" />
        <child link="link_5" />
        <origin xyz="-1.4 0 0" />
        <axis xyz="0 1 0" />
        <limit lower="-${PI}" upper="${PI}"
            effort="${effort}" velocity="${velocity}" />
    </joint>

    <joint name="joint_6" type="revolute">
        <parent link="link_5" />
        <child link="link_6" />
        <origin xyz="0 0 0" />
        <axis xyz="1 0 0" />
        <limit lower="-${PI}" upper="${PI}"
            effort="${effort}" velocity="${velocity}" />
    </joint>

    <!-- Joints - Gripper-->
    <joint name ="horizontal_arm_to_claw_support" type="fixed">
        <parent link="link_6"/>
        <child link = "gripper_base"/>
        <origin xyz="-1.19143 0 0.12234"/>
    </joint>

    <joint name ="joint_7" type="prismatic">
        <parent link="gripper_base"/>
        <child link = "gripper_right"/>
        <origin xyz="0 0 0"/>
        <axis xyz="0 1 0"/>
        <limit lower="0.15" upper="0.0" 
               effort="${effort}" velocity="${velocity}"/>
    </joint>

    <joint name ="joint_8" type="prismatic">
        <parent link="gripper_base"/>
        <child link = "gripper_left"/>
        <origin xyz="0 0 0"/>
        <axis xyz="0 1 0"/>
        <limit lower="0.0" upper="-0.15" 
               effort="${effort}" velocity="${velocity}"/>
        <mimic joint="joint_7" multiplier="-1"/>
    </joint>    
</robot>